@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  height: calc(100vh - 100px);
  position: relative;
}

.header__text {
  width: 45%;
  object-fit: contain;
  object-position: center;
  animation: ani 2s forwards;
}

@media screen and (max-width: 1700px) {
  .header {
    height: calc(100vh - 70px);
  }
}

@media screen and (max-width: 1300px) and (orientation:landscape) {
  .header {
    height: calc(100vh - 60px);
  }
}

@media screen and (max-width: 1300px) and (orientation:portrait) {
  .header {
    height: calc(100vh - 60px);
  }
}

@media screen and (max-width: 800px) and (orientation:landscape){
  .header {
    height: calc(100vh - 50px);
  }

  .header__text {
    width: 55%;
  }
}

@media screen and (max-width: 850px) and (orientation:portrait){
  .header {
    height: calc(100vh - 30px);
  }

  .header__text {
    width: 75%;
  }
}